@import '../../../theme/variables';

.container-register{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;


  div{
    width: 100%;
    text-align: center;
  }
}

form{
  width: 80%;
  height: 70%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  ion-item{
    border-radius: 10px;
    border: none;
    margin-bottom: 15px;
  }

  ion-button{
    width: 80%;
    height: 50px;
    margin-top: 30px;
    --background: #5C88CF;
    --color: var(--ion-color-primary-contrast, #fff);
  }
}

img{
  width: 7em;
  height: 7em;
}

