// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #428cff;
    --ion-color-primary-rgb: 66,140,255;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255,255,255;
    --ion-color-primary-shade: #3a7be0;
    --ion-color-primary-tint: #5598ff;

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80,200,255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255,255,255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106,100,255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255,255,255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ff4961;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #e04055;
    --ion-color-danger-tint: #ff5b71;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}

// ********** START ON-COMPONENTS

// FONT
*{
  // font-family: 'Source Sans Pro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
  // font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

$textColor: white;
$textSecondColor: rgb(189, 189, 189);
$errorColor: red;
$backColor: #0D1218;
$backSecondColor: #202C39;
$backThirdColor: #214975;

.loadingspinner{
  --color: #428cff;
}

.loadingspinnerSecond{
  --color: white;
}

ion-refresher ion-refresher-content {
  background: $textColor;
  --color: #428cff;
}

ion-content{
  --background: #0D1218 !important;
}

ion-list {
  background: #0D1218 !important;
  width:100%;

  ion-item{
    --background: #0D1218 !important;
    width:100%;
  }
}


// PAGE COLOR
.text-color{
  color: $textColor;
}

.text-second-color{
  color: $backColor;
}

.text-color-third{
  color: $textSecondColor;
}


// PAGE BACKGROUND COLOR
.components-color{
  background: $textColor;
}

.components-color-second{
  background: $backColor;
}

.components-color-third{
  background: $backSecondColor;
}

ion-infinite-scroll-content{
  ion-spinner{
    margin-top: 0;
  }
}

// REFRES ITEM
ion-refresher {
  // margin-top: 50px;
  ion-spinner{
    position: relative;
    display: flex;
    margin: 0;
    background: $backColor;
  }
}

// SPINNER
ion-spinner {
  display: block;
  position: absolute;
  margin: 0 auto;
  margin-top: 90%;
  margin-left: 45%;
}

//HEADER PRINCIPAL
ion-header{
  background: $backSecondColor;
  //header principa
  ion-toolbar{
    width: 100%;
    --background: $backSecondColor;
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;

    ion-title{
      text-align: center;
    }

    div{
      width: 20%;
    }
  }
}

ion-footer, ion-toolbar{
  height:50px;
  --background: $backSecondColor !important;
}

//footer barra abajo
ion-tab-bar{
  background: $backColor;
}

//buscador
ion-searchbar{
  --box-shadow: none !important;
  --border-radius: 50px !important;
}

ion-menu{
  //contenido del menu lateral
  ion-content{
    background: $backColor !important;
  }

  //contenido dentro de cada lista del menu lateral
  ion-item{
    background: $backColor !important;
  }
}

ion-card{
  // width: 40%;
  width: 80%;
  background: $backSecondColor;
  color: $textColor !important;
  // --background: rgba(255,255,255,0.1);

  //titulo de la card
  ion-card-title{
    color: $textColor !important;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
  }

  //contenido de la card
  ion-card-content{
    font-size: 13px;
    // text-align: center;
  }

  h3, h4{
    font-weight: bold;
  }

  img{
    font-size: 15px;
    width: 100%;
    border-radius: 50%;
  }

  ion-icon {
    font-size: 25px;
  }
}

ion-button{
  --border-radius: 50px !important;
  --box-shadow: none !important;
}

ion-item{
  width: 94%;
  margin: 0 auto;
}

form{
  width: 90%;
  margin: auto;
  margin-top: 30px;
}

ion-list{
  width:100%;

  ion-item{

    ion-label{
      height:50px;
    }
  }
}

ion-avatar{
  border: 2px solid $backThirdColor;
  box-shadow: 0;
  width:3.2em;
  height:3em;

  img{
    width:100%;
    height:100%;
  }
}

//efecto riple para las redirecciones como los botones
.ripple-parent {
  position: relative;
  overflow: hidden;
}
// ********** END ION-COMPONENTS


// ********** START APP CONFIG
//ERROR
.error-serve{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  div{
    width: 80%;
    text-align: center;
  }
}

// CAPITAL LETTER
.capital-letter{
  text-transform: capitalize;
}

.span-bold{
  font-weight: bold;
}

.div-error{
  width: 90%;
  color: $errorColor;
}

.div-empty{
  width:15%;
  height:auto;
}

.big-size{
  font-size: 23px !important;
}

.mediun-size{
  font-size: 17px !important;
}

.width-max{
  width: 100%;
}

.width-90{
  width: 90%;
}

.width-12{
  width: 13%;
}

.width-half{
  width: 40%;
}

.font-big{
  font-size: 18px !important;
}

.font-medium{
  font-size: 13px !important;
}

.font-small{
  font-size: 9px !important;
}

.margin-top{
  margin-top: 20px !important;
}

.margin-top-10{
  margin-top: 10px !important;
}

.margin-top-30{
  margin-top: 30px !important;
}

.margin-left-5{
  margin-left: 5%;
}

.ion-margin-start{
  width:50%;
  background:none;
}

.chip{
  border-radius: 10px;
  margin-top: 5px !important;
  min-height: 20px !important;
}

.displays-between{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.displays-around{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.displays-start{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.displays-center{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.div-center{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

// ********** END APP CONFIG
.div-header-fixed{
  width: 100%;
  z-index: 1;
  position: fixed;
  background: $textColor;
}

//PAGE CONTAINER
.header{
  width: 100%;
  // margin-top: 55px;
  min-height: 80px !important;
  text-align: center;
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none !important;
  border-bottom: none !important;
  --border-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  // background: $textColor;
  background: none;

  h1, h2{
    font-weight: bold;
    font-size: 25px;
    margin-top: 0px;
    width: 74%;
    margin: auto;
  }

  ion-back-button{
    width: 10%;
  }

  form{
    width: 90%;
    margin: auto;
    ion-item{
      color: $textColor !important;
    }
  }
}

.empty-header{
  width: 100%;
  margin-top: 70px;
}

.header-container-empty{
  width: 10%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  ion-icon{
    font-size: 27px;
    color: $backColor;
  }
}

.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start
}

.right{
  justify-self: flex-end !important;
  margin-left: auto;
  background: $backThirdColor !important
}

// .my-custom-class .alert-wrapper {
//   background: #e5e5e5;
// }

.fade-in-card {
  // animation: fadeIn 2s;
  animation: fadeInUp 0.2s;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes fadeInUp {
  0% {transform:translateY(60px) scale(0.5,0.5);}
  100% {transform:translateY(0px) scale(1,1);}
}





