@import '../../../theme/variables';


.ion-avatar-left{
  margin-left: 10%
}

ion-toolbar{
  height:100%
}

form {
  // background:red;
  --background:#232E3C;
  margin-top: 0px;
  width: 100%;
  height: 50px;
  // @include displays-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  ion-item, ion-input{
    --background:#232E3C;
    width: 80%;
    height: 50px;
  }

  ion-button{
    width: 15%
  }
}

ion-avatar{
  width:15%;
  height:3em;

  img{
    width:100%;
    height:100%;
  }
}

.div-delete{
  width:100%;
  height:20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  ion-button{
    width: 20%;
    height:100%
  }
}
