@import '../../../theme/variables';



ion-toolbar{
  height:100%
}

.footer-toolbar{
  height:100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

  div{
    width: 14%;

    ion-button{
      width: 100%;
      height: 100%;
      margin: 0;
    }
  }
}

form {
  // background:red;
  --background:#0D1218;
  margin: 0;
  margin-top: 0px;
  width: 70%;
  height: 50px;
  text-align: start;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  ion-item, ion-input{
    --background:#0D1218;
    width: 80%;
    height: 50px;
  }

  ion-button{
    width: 20%;
    height: 100%;
    margin: 0;
  }

}

ion-toolbar{
  ion-avatar{
    margin-left: 4%;
    width: 2.5em;
    height: 2.5em;
  }
}


.card-arrow-left{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 0px;
  ion-avatar{
    border: 2px solid $backThirdColor;
  }
}

.card-arrow-rigth{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 0px;
  ion-avatar{
    border: 2px solid $backfourthColor;
  }
}


.delete-button{
  width:25%;
  height:20px;
  justify-self: flex-end !important;
  margin-left: auto;
}

.chat-photo{
  width: 90%;
  min-height: 100px;
  border-radius: 0% !important;
}
