@import '../../../theme/variables';



ion-toolbar{
  height:100%
}

form {
  // background:red;
  --background:#0D1218;
  margin-top: 0px;
  width: 100%;
  height: 50px;
  // @include displays-around;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  ion-item, ion-input{
    --background:#0D1218;
    width: 80%;
    height: 50px;
  }

  ion-button{
    width: 15%
  }
}

ion-toolbar{
  ion-avatar{
    margin-left: 4%;
    width: 2.5em;
    height: 2.5em;
  }
}


.card-arrow-left{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 0px;
}

.card-arrow-rigth{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 0px;
}


.delete-button{
  width:25%;
  height:20px;
  justify-self: flex-end !important;
  margin-left: auto;
}
